/*---------------
    logo
---------------*/
.logo {
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    z-index: 100;
    padding-left: 20px;
}

.logo a,.logo a:hover {
    font-size: 22px;
    color: #fff;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    float: none;
}

.logo a i {
    font-size: 24px;
    color: #fff;
    padding-right: 5px;
}

.logo a .brand-name {
    float: right;
}

.logo a i, .logo a img {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.logo a img {
    width:50px;
    height:50px;
}

.icon-logo {
    display: none;
}

.icon-logo a {
    color: #fff;
}

.icon-logo a:hover {
    color: #fff;
}

.icon-logo a img {
    width:30px;
    height:30px;
}

.sidebar-collapsed .icon-logo {
    height: 60px;
    padding-top: 5px;
    line-height: 45px;
    display: block !important;
    position: absolute;
    left: -52px;
    width: 52px;
    font-size: 24px;
    text-align: center;
}

/*---------------------
    sidebar left
-----------------------*/
.sidebar-left {
    width: 240px;
    position: absolute;
    top: 50px;
    left: 0;
    height:100%;
    background: #2f353f;
    font-size: 14px;
}

.sticky-sidebar  {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}

.sidebar-collapsed .sticky-sidebar {
    overflow-y: visible;
    position: absolute;
}

.sidebar-left-info {
    padding: 0px;
}

.sidebar-left .search-content {
    display: none;
}

.sidebar-left .search-content::after {
    content: '';
    display: block;
    clear: both;
}

.sidebar-left .search-content input {
    padding: 10px;
    width: 90%;
    margin: 20px 10px 20px 12px;
    border-radius: 30px;
    border: none;
}

.sidebar-left .search-content input:focus {
    width: 90%;
}

.noti-arrow {
    margin-right: 15px;
    margin-top: 2px;
    font-weight: normal;
}

.side-navigation {
    /* margin-bottom: 10px; */
    margin-top: 1px;
}

.navigation-title {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.side-navigation > li > a {
    /* color: #75798B; */
    color: #a7b1c2;
    padding:15px 20px;
    border-radius: 0;
}

.side-navigation > li > a:hover,
.side-navigation > li > a:active {
    color: #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.side-navigation > li.menu-list > a {
    position: relative;
}

.side-navigation > li.nav-active > ul {
    display: block;
}

.side-navigation > li.menu-list > a:after {
    content: "\f105";
    /* content: "\f067"; */
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 20px;
    position: absolute;
    right: 0;
}

.side-navigation > li.nav-active > a:after {
    content: "\f107";
    /* content: "\f068"; */
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 20px;
    position: absolute;
    right: 0;
}

.side-navigation > li.menu-list.active > a:after,
.side-navigation > li.nav-active.active > a:after,
.side-navigation > li.nav-active.active > a:after:hover{
    content: "\f107";
}

.side-navigation li .fa, .side-navigation li .ico {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.side-navigation .child-list {
    list-style: none;
    display: none;
    margin:0;
    padding: 0 0 1px 0;
}

.side-navigation .child-list > li > a {
	color: #a7b1c2;
  	background: #2f353f;
  
    font-size: 14px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.side-navigation .child-list > li > a:hover,
.side-navigation .child-list > li > a:active,
.side-navigation .child-list > li > a:focus {
    text-decoration: none;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.side-navigation .child-list > li .fa {
    font-size: 18px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.side-navigation .child-list > li.active > a {
    background: 2f353f !important;
    /* background: #272c35 !important; */
  	color: #ffffff;
}

.side-navigation .child-list ul {
    margin-left: 12px;
    border: 0;
}

.side-navigation .menu-list.active ul {
    display: block;
}

.user-nav {
    margin-bottom: 0;
}

.user-nav  > li > a {
    padding: 10px 20px;
}

/*---------------------
    sidebar collapsed
-----------------------*/
.sidebar-collapsed .logo,
.sidebar-collapsed .side-navigation > li.nav-active > a:after,
.sidebar-collapsed .side-navigation > li.menu-list > a:after{
    display: none;
}

.sidebar-collapsed .header-section {
    margin-left: 0px;
}

.sidebar-collapsed .sidebar-left {
    width: 52px;
    top: 52px;
}

.sidebar-collapsed .sidebar-left-info {
    padding: 0;
}

h5.left-nav-title {
    color: #ffffff;
    margin-left: 20px;
    text-transform: uppercase;
}

.sidebar-collapsed .side-navigation {
    margin: 0px 0 20px 0;
}

.sidebar-collapsed .side-navigation li a {
    text-align: center;
    padding:15px 10px;
    position: relative;
}

.sidebar-collapsed .side-navigation > li.menu-list > a {
    background-image: none;
}

.sidebar-collapsed .side-navigation li a span {
    position: absolute;
    padding:15px;
    left: 52px;
    top: 0;
    min-width: 175px;
    text-align: left;
    z-index: 1000;
    display: none;
}

.sidebar-collapsed .side-navigation li a span .badge,
.sidebar-collapsed .side-navigation li a span .label {
    display: none !important;
}

.sidebar-collapsed .side-navigation li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius:0;
    border-radius:0;
}

.sidebar-collapsed .side-navigation ul,
.sidebar-collapsed .side-navigation .menu-list.nav-active ul{
    display: none;
}

.sidebar-collapsed .side-navigation .menu-list.nav-hover ul,
.sidebar-collapsed .side-navigation li.nav-hover a span{
    display: block;
}

.sidebar-collapsed .side-navigation .menu-list ul.child-list span{
	background-color: #2f353f;
	color:#a7b1c2;
}

.sidebar-collapsed .side-navigation .menu-list .child-list li a span{
	left:0px;
}

.sidebar-collapsed .side-navigation > li.nav-hover > a,
.sidebar-collapsed .side-navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-navigation li.nav-hover.active a span,
.sidebar-collapsed .side-navigation li.nav-hover a span{
    color: #fff;
}

.sidebar-collapsed .side-navigation li.nav-hover ul {
    display: block;
    position: absolute;
    top: 50px;
    left: 52px;
    margin: 0;
    min-width: 175px;
    z-index: 100;
}

.sidebar-collapsed .side-navigation ul a {
    text-align: left;
    /* padding: 10px 15px; */
}

.sidebar-collapsed .side-navigation li a i {
    margin-right: 0;
}

.sidebar-collapsed .body-content {
    margin-left: 52px;
}

.sidebar-collapsed .sidebar-widget,
.sidebar-collapsed .navigation-title{
    display: none;
}

/*---------------------
    header section
-----------------------*/
.header-section {
    background: #fff;
    border-bottom: 1px solid #E8E8E8;
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    width: 55px;
    height: 60px;
    line-height: 30px;
    font-size: 14px;
    padding:15px;
    cursor: pointer;
    float: left;
    text-align: center;
    color: #384246;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover,
.notification-menu .dropdown-toggle:hover,
.notification-menu .dropdown-toggle:focus,
.notification-menu .dropdown-toggle:active,
.notification-menu .dropdown-toggle.active,
.notification-menu .open .dropdown-toggle.dropdown-toggle{
    background: #f7f7f7;
    color: #8b8b8b;
}

.search-content input {
    box-shadow: none;
    float: right;
    font-size: 14px;
    height: 30px;
    margin: 15px 10px 0 10px;
    width: 100px;
    border-radius: 30px;
    background: #f3f3f3;
    border: none;
}

.search-content input,
.search-content input:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.search-content input:focus {
    box-shadow: none;
    border-color: #eff0f4;
    width: 210px;
}


/*---------------------
    sticky header
-----------------------*/
.sticky-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    z-index: 100;
}

.sticky-header .sidebar-left {
    top: 60px;
    /* 左侧菜单最后一个容易被隐藏*/
    padding-bottom:100px;
}

.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 240px;
    width: 100%;
    z-index: 1000;
}

.sticky-header .body-content {
    padding-top: 60px;
}

.sticky-header .right-notification {
    margin-right: 240px;
}

.sticky-header.sidebar-collapsed .header-section {
    left: 52px;
}

.sticky-header.sidebar-collapsed .right-notification {
    margin-right: 52px;
}

/*-----------------------------
    non sticky header
-----------------------------*/
.non-sticky-header .header-section .logo{
    display: none;
}

.non-sticky-header .sidebar-left{
    top: 0px;
}

.non-sticky-header  .side-navigation {
    margin-top: 60px;
}


.non-sticky-header .right-notification {
    margin-right:0px;
}

/*---------------------------
     left notification
---------------------------*/
.left-notification {
    float: left;
}

.notification-menu {
    list-style: none;
    padding-left: 0px;
}

.notification-menu > li{
    float: left;
    position: relative;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.notification-menu > li.open .dropdown-menu{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.notification-menu .dropdown-toggle {
    padding: 12px 10px;
    border-color: #fff;
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.notification-menu .dropdown-toggle:hover,
.notification-menu .open .dropdown-toggle.dropdown-toggle {
    background: #f7f7f7;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.notification-menu .dropdown-toggle .caret {
    margin-left: 5px;
}

.notification-menu .dropdown-menu {
    margin-top: 0px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.notification-menu .dropdown-menu.green {
    border-top: 1px solid #62cb31;
}

.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    /* padding: 15px; */
}

.notification-menu .dropdown-usermenu li {
    padding: 0;
}

.notification-menu .dropdown-menu li a {
    /* color: #fff; */
    color:#8b8b8b;
    font-size: 13px;
    /* padding: 7px 10px; */
    padding: 10px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.notification-menu .dropdown-menu li a i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.notification-menu .dropdown-menu li a:hover {
    background: #f7f7f7;
    color: #2b2b2c;
}

.notification-menu .dropdown-title {
    padding: 0;
    min-width: 300px;
}

.notification-menu .info-number {
    padding: 0px 18px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    background: none;
    color: #8b8b8b;
    /* color:#32323a; */
    border-color: #fff;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    float: left;
}

.title {
    border-bottom: 1px solid #efefef;
    display: inline-block;
    width: 100%;
}

.dropdown-title .title {
    color: #797979;
    padding: 20px 15px;
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: 0;
}

.dropdown-title .title.purple:after,
.dropdown-title .title.green:after,
.dropdown-title .title.yellow:after{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 20px;
    position: absolute;
    top: -6px;
}

.dropdown-title .title.purple:after {
    border-bottom: 6px solid #9c78cd;
}

.dropdown-title .title.green:after {
    border-bottom: 6px solid #52d192;
}

.dropdown-title .title.yellow:after {
    border-bottom: 6px solid #ffd200;
}

.dropdown-title .title.purple {
    border-top:1px solid #9c78cd;
}

.dropdown-title .title.green {
    border-top:1px solid #65cea7;
}

.dropdown-title .title.yellow {
    border-top:1px solid #ffd200;
}

.info-number .badge {
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 10px;

}


/*-------------------------
    notification list
--------------------------*/
.notification-list {
    padding:0 15px;
    display: inline-block;
}

.notification-list a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #f3f3f3;
    color: #2b2b2c;
    text-decoration: none;
    font-size: 14px;
}

.noti-information .notification-list {
    padding: 0;
}

.noti-information .notification-list a {
    padding: 20px;
}

.noti-information .notification-list a:hover {
    background: #fafafa;
}

.notification-list a:first-child{
    border-top: none;
}

.notification-list-scroll{
    height: 240px;
    overflow-y: scroll;
}

.notification-list a small {
    color: #bdbdbd;
    padding-left: 5px;
}

.notification-list a span.icon {
    margin-right: 15px;
    font-size: 16px;
    float: left;
}

.title-row {
    position: relative;
}

a.btn-view-all {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px 10px;
    border-radius: 30px;
    text-decoration: none;
    white-space: nowrap;
}

.notification-list p,
.notification-list p small{
    margin: 0;
    padding: 0;
}

.notification-list p small {
    color: #a9a9a9;
}

.task-list .progress {
    margin: 10px 0 0 0px;
    height: 10px;
}

.task-info {
    float: left;
    width: 87%;
}

.noti-information .mail-list .un-read, .noti-information .mail-list .read {
    right: 20px;
}

.not-list span.icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 12px;
    padding: 0!important;
    text-align: center;
}

.not-list span.icon i{
    font-size: 14px;
}

.notification-list.not-list a span.icon {
    margin-top: 5px;
}

/*-----------------------
    right notification
------------------------*/
.right-notification {
    float: right;
    margin-right: 40px;
    height: 60px;
}

.right-notification .notification-menu > li > a {
    /*padding-top: 15px;*/
    /*padding-bottom: 16px;*/
}

.right-notification .notification-menu li a {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}

.right-notification .notification-menu li li a {
    height: auto;
    line-height: normal;
    /* padding: 15px; */
    padding: 10px;
}


.right-notification .notification-menu li a{
    color: #8b8b8b;
}

.right-notification .notification-menu > li > a > img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-notification .notification-menu li a i {
    font-size: 16px;
    /* position: absolute; */
    right: 15px;
    margin-right:4px;
}

.right-notification .input-group {
    margin-top: 7px;
}


.right-notification .rounded {
    border-radius: 100px;
    background: #f3f3f3;
    border: none;
    box-shadow: none;
}

.right-notification .search .btn-sm,
.right-notification .search .btn-group-sm > .btn {
    font-size: 13px;
    line-height: 1.6;
    outline: none;
}

.right-notification .search input.form-control {
    width: 122px;
}

.right-notification .search .twitter-typeahead {
    float: left;
}

.search .input-group-btn > .btn  {
    border: none;
    background: none;
}

.search .input-group {
    background: #f3f3f3;
    border-radius: 100px;
}

.right-notification .notification-menu > li > a > span.fa-angle-down {
    margin-left: 5px;
}

.right-notification .search input.form-control:focus {
    /*width: 130px;*/
}


.right-notification .search input.form-control,
.right-notification .search input.form-control:focus{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.dropdown-usermenu.purple:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 6%;
    position: absolute;
    top: -6px;
}

.dropdown-usermenu.purple:after {
    border-bottom: 6px solid #9c78cd;
}


.right-notification .notification-menu .dropdown-menu li a:hover {
    background: #f7f7f7;
}


.right-notification .notification-menu .dropdown-menu li a:hover {
    /*color: #fff;*/
}

.dropdown-usermenu.purple {
    border-top: 1px solid #9c78cd;
}

.dropdown-usermenu.green {
    border-top: 1px solid #62cb31;
}

.dropdown-usermenu {
    /* min-width: 230px; */
    min-width: 200px;
}

.notification-menu .dropdown-menu {
    padding: 0;
}

/*--------bg info------*/
.bg-info,
.info-number .bg-info{
    color: #fff;
    background-color: #6bd3f3;
}

.bg-success,
.info-number .bg-success{
    color: #fff;
    background-color: #53d192;
}

.bg-warning,
.info-number .bg-warning{
    color: #fff;
    background-color: #ffd200;
}

.bg-primary,
.info-number .bg-primary{
    color: #fff;
    background-color: #9c78cd;
}

.bg-danger,
.info-number .bg-danger{
    color: #fff;
    background-color: #e55957;
}

.bg-dark,
.info-number .bg-dark{
    color: #fff;
    background-color: #2b2b2c;
}

/*---------------------
    boxed view
-----------------------*/
.boxed-view {
    background: #5ac29c;
}

.boxed-view .container{
    position: relative;
    background: #32323a;
    padding: 0;
}

.boxed-view .container .header-section .logo{
    display: none;
}

.boxed-view .container .sidebar-left{
    top: 0px;
}

.boxed-view .container  .side-navigation {
    margin-top: 60px;
}

.boxed-view .right-notification {
    margin-right:0px;
}

/*---------------------
    body content
-----------------------*/
.body-content {
    margin-left: 240px;
    background:#f1f3f6;
    /* min-height: 900px; */
    position: relative;
    padding-bottom: 50px;
}

.body-content.no-sidebar-left{
    margin-left: 0;
    padding: 0 auto;
    background:#f1f3f6;
}

/*---------------------
    footer content
-----------------------*/
footer {
    /* background: #e9e9eb; */
	background: #ffffff;
    padding: 10px 20px;
    /* color: #232425; */
    color: #6a6c6f;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*---------------------
    default-theme
-----------------------*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    /* color: #323232; */
    /* color:#f1f3f6; */
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.dark-logo-bg{
    /* background: #32323a; */
    background:#2f353f;
}

.white-logo-bg {
    background: #fff;
}

.logo.white-logo-bg a {
    color: #32323a;
}

.logo.gray-logo-bg a {
    color: #32323a;
}

.sidebar-left .nav > li > a:hover,
.sidebar-left .nav > li > a:focus,
.side-navigation > li.active > a,
.side-navigation > li.active > a:hover,
.side-navigation > li.active > a:focus,
.side-navigation > li.menu-list > a:hover,
.side-navigation > li.nav-active > a,
.side-navigation .child-list,
.sidebar-collapsed .side-navigation > li.nav-hover > a,
.sidebar-collapsed .side-navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-navigation li.nav-hover.active a span,
.sidebar-collapsed .side-navigation li a span,
.sidebar-collapsed .side-navigation li.nav-hover ul{
	/* background: 2f353f !important; */
    background-color: #29282e;
}

.side-navigation > li.active > a,
.side-navigation > li.active > a:hover,
.side-navigation > li.active > a:focus,
.side-navigation .child-list > li > a:hover,
.side-navigation .child-list > li > a:active,
.side-navigation .child-list > li > a:focus,
.side-navigation > li.nav-active > a,
.side-navigation > li > a:hover, .side-navigation > li > a:active,
.side-navigation > li.nav-active > a:after{
    color: #ffffff;
}

.side-navigation .child-list > li > a:hover,
.side-navigation .child-list > li > a:active,
.side-navigation .child-list > li > a:focus,
.sidebar-collapsed .side-navigation ul a:hover{
    /* background: rgba(0,0,0,0.2); */
    /* #29282e #2f353f */ 
    background: 2f353f !important;
}

.navigation-title {
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.sidebar-widget {
    border-top: 1px solid rgba(255,255,255,0.05);
}

.nav-stacked>li+li {
    /* margin-top: 2px; */
    margin-top: 0;
    margin-left: 0;
}

/*---------------------
    responsive
-----------------------*/
